<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id= "wrapper">
<header>StraightFit</header>
<nav id= "horzNav">
<p>
	<%= link_to 'Home', {:controller => 'pages', :action => 'home'} %>
	<%= link_to 'About', {:controller => 'pages', :action => 'about'} %>
	<%= link_to 'Directions', {:controller => 'pages', :action => 'directions'} %>
	<%= link_to 'Articles', { :controller => 'articles', :action => 'index'} %>
	<%= link_to 'Users', {:controller => 'users', :action => 'index'} %>
</p>
</nav>
<%= yield %>

</body>
</html>
